@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
  --color-black: #000;
}

body {
  margin: 0;
  font-family: 'Poppins';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  /* height: 100%; */
  /* width: 100%; */
}
